h1 {
    font-size: 48px;
    background-color: aquamarine;
    text-align: center;
    font-family: Tahoma;
}

p:nth-of-type(1) {
    text-transform: uppercase;
    text-decoration: line-through;
}

p:nth-of-type(2) {
    text-transform: lowercase;
    text-decoration: underline;
}

h2 {
    word-spacing: 10px;
    letter-spacing: 10px;
    text-shadow: 2px 2px greenyellow;
}

ul:nth-of-type(2) {
    background-size: cover;
    background-color: grey;
}

ul li {
    border-spacing: 20px;
    margin: 20px;
    background-color: lightgray;
}